<li class="list-group-item list-group-item-success">

  <h3>Mon premier post <span class="float-right">12/12/2018 12:12 AM</span></h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque eu risus sit amet consectetur.
    Pellentesque eget ligula diam. Ut semper vel ante vitae lacinia. Vestibulum imperdiet purus in molestie
    scelerisque.
    Mauris eleifend erat eu euismod suscipit. Vivamus in urna convallis, congue massa vitae, viverra felis. </p>

  <button class="btn btn-success">Like!</button>
  <button class="btn btn-danger">Dislike!</button>
</li>

<li class="list-group-item">

  <h3>Mon premier post <span class="float-right">12/12/2018 12:12 AM</span></h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque eu risus sit amet consectetur.
    Pellentesque eget ligula diam. Ut semper vel ante vitae lacinia. Vestibulum imperdiet purus in molestie
    scelerisque.
    Mauris eleifend erat eu euismod suscipit. Vivamus in urna convallis, congue massa vitae, viverra felis. </p>

  <button class="btn btn-success">Like!</button>
  <button class="btn btn-danger">Dislike!</button>
</li>


<li class="list-group-item list-group-item-danger">

  <h3>Mon premier post <span class="float-right">12/12/2018 12:12 AM</span></h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque eu risus sit amet consectetur.
    Pellentesque eget ligula diam. Ut semper vel ante vitae lacinia. Vestibulum imperdiet purus in molestie
    scelerisque.
    Mauris eleifend erat eu euismod suscipit. Vivamus in urna convallis, congue massa vitae, viverra felis. </p>

  <button class="btn btn-success">Like!</button>
  <button class="btn btn-danger">Dislike!</button>
</li>
